img {
  object-fit: cover;
}

.footer {
  padding-bottom: 4rem;
}

html,
body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -140px; /* the bottom margin is the negative value of the footer's height */
}
.footer,
.push {
  height: 140px; /* .push must be the same height as .footer */
}
