<section class="section">
  <div class="container">
    <h1 class="title">Editar Fornecedor</h1>

    <%= render 'form', supplier: @supplier %>

    <%= link_to 'Mostrar', @supplier %>
  </div>
</section>
